<% provide(:title, 'Про Нас') %> 
<!DOCTYPE html>
<html>

<head>
    <title>Публічні Діячі України | <%= yield(:title) %></title>
</head>

<body>
	<h1>Про нас</h1>
	<p>Ми займаємось формуванням та оновленням списків публічних діячів України. 
   	   <a href="http://public.biz.ua">Стара версія</a>
	</p>
</body>

</html>