<% provide(:title, 'Контакти') %>
<!DOCTYPE html>
<html>

<head>
    <title>Публічні Діячі України | <%= yield(:title) %></title>
</head>

<body>
	<h1>Контактна інформація</h1>
	<p>Для зв'язку з розробниками використовуйте  
	   <a href="mailto:admin@public.biz.ua">електронну пошту</a>
	</p>
</body>

</html>
